.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 100%;
    transition: left 0.4s;
    overflow: hidden;
    background: #7ED321;
    color: #fff;

    &.is-active {
        left: 0px;
    }

    &.is-not-active {
        left: -100%;
    }
}

.screen--side,
.screen--play,
.screen--score,
.screen--about-to-start {
    @extend .screen;
}

.screen--side {
    font-family: 'GeoSlab';
    font-size: 33px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.screen__intro {
    width: 100%;
    height: 40%;
    padding: 20px 15px 0 15px;
    position: relative;
    z-index: 20;

    span {
        display: block;
        padding: 20px;
        transform: perspective(5em) rotateX(-25deg);        
    }
}   

.screen--play {

}

.play-btn-wrapper {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 50px;
}

.click-bar-wrapper {
    width: 80%;
    position: absolute;
    top: 50px;
    left: 10%;
    font-size: 30px;
    text-transform: uppercase;
}

.click-bar {
    width: 100%;
    height: 50px;
    background: #fff;
    border: 2px solid darken($blue, 20); 

    .is-team-left & {
        border-color: darken($red, 20);
    }
}

.click-bar__meter {
    display: block;
    height: 100%;
    background: $blue;

    .is-team-left & {
        background: $red;
    }
}

.wait-logo {
    width: 300px;
    height: 380px;
    margin-top: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -150px;
    background: url('/images/logo.png') no-repeat;
    background-size: 100%;
}

.screen--about-to-start {
    p {
        width: 100%;
        margin: 0;
        position: absolute;
        bottom: 20px;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
    }
}