.canvas {
    width: 1400px;
    height: 900px;
    position: absolute;
    top: 0px;
    left: 100%;
    transition: left 0.4s;
    overflow: hidden;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    background: #bee890;

    &.is-active {
        left: 0px;
    }

    &.is-not-active {
        left: -100%;
    }

    
}

@-webkit-keyframes blink {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.canvas--play {
    @extend .canvas;

    &:before {
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        background: $green;
    }

    .countdown {
        width: 100%;
        position: absolute;
        bottom: 480px;
        text-align: center;
        font-size: 120px;
        line-height: 1;
    }
}


/* end scoring screen */
.canvas--scores {
     @extend .canvas;

     &.left-won {
        background: $blue;
        .canvas--scores__title {
            background-image: url('/nl.driebit.tugofwar/images/endscreen-header-left.png');
        }
     }

     &.right-won {
         background: $red;
        .canvas--scores__title {
            background-image: url('/nl.driebit.tugofwar/images/endscreen-header-right.png');
        }
     }

}

.canvas--scores__title {
    width: 100%;
    margin-bottom: 20px;
    height: 212px;
    position: relative;
    font-size: 26px;

    h1 {
        position: absolute;
        display: block;
        left: 475px;
        top: 30px;
    }
 }


 .canvas--scores__players {

        display: block;
        list-style-type: none;
        margin: 0px;
        padding: 30px;

        li {
            font-size: 26px;
            vertical-align: top;
            display: inline-block;
            position: relative;
            margin: 0px 10px 10px 0px;

            img {
                max-width: 100%;
                overflow: hidden;
                border: 2px solid white;
                height: 80px;
                width: 80px;
                -webkit-border-radius: 40px;
                -moz-border-radius: 40px;
                border-radius: 40px;
                overflow: hidden;
            }

            div {
                text-align: center;
            }

        }
 }

 .canvas--scores__player {

 }


/* end game screen */
.canvas--endgame {
    @extend .canvas;

    background: white;
    color: black;

    img {
        display: block;
        margin: 0px auto;
        margin-top: 30px;
    }

}



.countdown_label {
    width: 500px;
    margin: 0 auto;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    transition: all 0.1s;
    opacity: 1;
    //-webkit-animation: blink 1s infinite; 
}

.canvas__top__logo {
    display: block;
    width: 513px;
    height: 114px;
    position: absolute;
    top: 46px;
    left: 440px;
    background: url('/nl.driebit.tugofwar/images/canvas-top-logo.svg');
}

.canvas__top__team-left,
.canvas__top__team-right {
    width: 224px;
    height: 96px;
    position: absolute;
    top: 320px;
    right: 160px;
    background: url('/nl.driebit.tugofwar/images/team-left.svg') no-repeat;
}

.canvas__top__team-left {
    left: 160px;
    right: auto;
    background-image: url('/nl.driebit.tugofwar/images/team-right.svg');
}

.power-meter--right {
    width: 76px;
    height: 188px;
    position: absolute;
    top: 100px;
    right: 250px;
    background: #E2E0E0;

    &:after {
        content: '';
        width: 122px;
        height: 2px;
        position: absolute;
        bottom: 0px;
        left: -23px;
        background: $red;
    }

    span {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0px;
        background: $red;
        transition: all 0.3s;
    }
}

.power-meter--left {
    @extend .power-meter--right;
    left: 250px;
    right: auto;

    &:after {
        background: $blue;
    }

    span {
        background: $blue;
        transition: all 0.3s;
    }
}

.rope {
    width: 1152px;
    height: 14px;
    position: absolute;
    bottom: 237px;
    left: 50%;
    z-index: 20;
    background: url('/nl.driebit.tugofwar/images/touw.svg') no-repeat;
    transform: translateX(-50%);

    &:before,
    &:after {
        content: '';
        width: 88px;
        height: 111px;
        position: absolute;
        bottom: -45px;
        right: -30px;
        background: url('/nl.driebit.tugofwar/images/member-right.svg') no-repeat;
    }

    &:before {
        width: 73px;
        bottom: -58px;
        right: auto;
        left: -30px;
        background: url('/nl.driebit.tugofwar/images/member-left.svg') no-repeat;
    }
}

.rope__flag {
    width: 50px;
    height: 75px;
    position: absolute;
    left: 550px;
    z-index: 10;
    background: url('/nl.driebit.tugofwar/images/flag.svg') no-repeat;
    background-size: 100% auto;
}

.player-wrapper__team-right,
.player-wrapper__team-left  {
    width: 40%;
    height: 450px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.player-wrapper__team-left {
    right: auto;
    left: 0px;
}

.block {

    width: 100%;
    height: 111px;
    position: absolute;
    bottom: 0px;
    right: -30px;
    list-style: none;

    &.team-members--left {
        right: auto;
        left: 30px;
    }
    &.team-members--right {
        left: auto;
        right: 30px;
    }
}

.block--0 {
    bottom: 118px;
    z-index: 100000;
}

.block--1 {
    bottom: 165px;
    z-index: 90000;
}

.block--2 {
    bottom: 75px;
    z-index: 110000;
}

.block--3 {
    bottom: 205px;
    z-index: 80000;
}

.player-wrapper__team-right {
    .block--0 {
        bottom: 132px;
    }
}

.team-members--left {
    list-style: none;

    .member {
        display: inline-block;
        width: 88px;
        height: 111px;
        margin-right: -64px;
        position: relative;
        background: url('/nl.driebit.tugofwar/images/member-left.svg') no-repeat;

        img {
            width: 40px;
            position: absolute;
            top: -15px;
            left: -5px;
            border-radius: 100%;
            border: 2px solid #fff;
        }
    }
}


.team-members--right {
    list-style: none;

    .member {
        display: inline-block;
        width: 88px;
        height: 111px;
        margin-left: -64px;
        position: relative;
        background: url('/nl.driebit.tugofwar/images/member-right.svg') no-repeat;

        img {
            width: 40px;
            position: absolute;
            top: -3px;
            right: 1px;
            border-radius: 100%;
            border: 2px solid #fff;
        }
    }
}


.teams-wrapper {
    width: 1400px;
    height: 900px;
    position: relative;
    left: -80px;
    transition: all 1s;
}

